/* .App {
  text-align: center;
}

.App-logo {
  height: 100%;
  margin: 0;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App {
  /* display: flex; */
  background-image: url('./output-onlinejpgtools.jpg');
  /* height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



echo "# Barbeque" >> README.md
git init
git add *
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/grish92/Barbeque.git
git push -u origin main